<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>index Page</title>
</head>
<body>





<h1>List of Questions </h1>



 <form method="post" action="#" th:action="@{/addQuestion}" th:object="${pollStat}">
  
  Title<input type="text" th:field=${pollStat.title}>
<br><br>

Questions  <select th:field="*{question}">   
   <option th:each="question: *{questions}" th:value="${question}" th:text="${question}" />   
   </select><br> 
   
   
   <input type="submit" value="Choose Poll"/>
   
   
</form>



</body>
</html>