<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Poll</title>
</head>
<body>

Chosen Poll:<br>

<div th:text="${pollStat.question}">
</div>




Please chose an answer:
<!-- Do i need the object here for this to work? -->
<div  th:if="${pollStat.question} == 'What is your favourite Candy?'">

:::
  
<form th:object="${pollStat}">

  <select th:field="*{candy}">   
   <option th:each="question: *{candys}" th:value="${candy}" th:text=${candy} />   
   </select><br> 


        <input type="submit" value="Choose Poll"/>
  </form>






</div>


<div th:object="${pollStat}"   th:if="${pollStat.question}== 'What is your favourite Sport?'">

Sport form

</div>


<div th:object="${pollStat}"   th:if="${pollStat.question}== 'What is your favourite Color?'">

Color form

</div>








</body>
</html>